<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eShop</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <!--    <link rel="stylesheet" href="widgets/chat/style.css">-->
</head>

<body>
    <div id="app">
        <div class="container">
            <header>
                <div class="header-upper">
                    <form class="search-form" @submit.prevent="filterGoods">
                        <input type="text" class="search-input" v-model="searchLine">
                        <button class="btn-search" type="submit">Искать</button>
                    </form>
                </div>
                <div class="header-inner"><button class="cart-button">Корзина</button></div>
            </header>

            <main>
                <div class="goods-list">
                    <div class="goods-item" v-for="good in filteredGoods" :key="good.id_product">
                        <img :src="goodPicture" alt="img" class="goods-img">
                        <h3>{{ good.product_name }}</h3>
                        <p>{{ good.price }}</p>
                    </div>

                    <div class="cart-bck hidden">
                        <div class="cart">
                            <a href="#">
                                <div class="cart-close">&#10006;</div>
                            </a>
                            <div class="cart-inner"></div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/index.js"></script>
</body>

</html>
